$white: white;
$white-1: #fafafa;
$white-2: #f5f5f5;
$white-3: #f0f0f0;
$black: black;
$black-1: #050505;
$black-2: #0A0A0A;
$gray: rgb(93, 93, 93);
$stable: rgb(0, 128, 81);
$warn: rgb(255, 179, 0);
$error: rgb(219, 0, 95);